@import "tailwindcss";

@theme {
  --color-primary: #0588F0;
  --color-secondary: #0F172A;
  --color-background: #F9F9F9;
  --color-card: #FFFFFF;
  --color-muted: #64748B;
  --color-danger: #EF4444;
  --color-success: #22C55E;
  --color-warning: #EAB308;
  --color-border: #5EB1EF;
}